{{>_navbar}}
{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{else}}

{{/if}}
{{>_msg}}

<section class="cardMissoes">
    <img id="imgMissao" style="padding-right: 0;" src="/images/vagascadastradas.png" alt="">
    <script>
        AOS.init();
    </script>
    <!--Card de cada vaga-->
    {{#each vaga}}
    <a href="/admin/descVagas/{{id}}">
        <div data-aos="zoom-in" class="col-xl-12 col-md-12">
            <div id="cardaVagas" style="border: 0;" class="card">
                <div class="card-content">
                    <div id="cardaVagas2" class="card-body cleartfix">
                        <div class="media align-items-stretch">
                            <div class="align-self-center">
                                <img style="width: 64px;" src="/images/emprego.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4 id="tituloVagas">{{titulo}}</h4>
                                <span>{{descricao}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </a>
    {{/each}}

    <a href="/admin/cadastroVagas" class="float">
        <i class="fa fa-plus my-float"></i>
    </a>




</section>