{{>_navbar}}
{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{else}}

{{/if}}
{{>_msg}}

<section class="cardMissoes">
    <div class="col">
        <a href="/user/missoes">
            <img style="float: left; padding:20px;" src="/images/voltar.png" alt="">
        </a>
    </div>
    <script>
        AOS.init();
    </script>
    <img id="imgMissao" src="/images/imgdetalhes2.png" alt="">

    <div data-aos="zoom-in" class="col-xl-12 col-md-12">
        <div id="cardaMissao" style="border: 0;" class="card">
            <div class="card-content">
                <div id="cardaMissao2" class="card-body cleartfix">
                    <div class="media align-items-stretch">
                        <div class="align-self-center">
                            <img src="/images/{{miss.skill}}.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4 id="tituloMissao">{{miss.titulo}}</h4>
                        </div>
                    </div>
                    <div class="media-body">
                        <p id="descMissaotxt">{{miss.descricao}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </a>

    <h4 id="amareloEy">+{{miss.pontuacao}} pontos</h4>

    <button data-mdb-toggle="modal" data-mdb-target="#exampleModal" id="btnIniciar" type="button"
        class="btn btn-warning btn-rounded" data-mdb-ripple-color="dark">Iniciar missão</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="imgModal" src="/images/imgmodal.webp" alt="">
                    <h4>Deseja iniciar a missão?</h4>
                    <p>Ao clicar em Aceitar a missão será iniciada e o tempo para completa-lá também, você pode recusar
                        também mas isso descontará de sua pontuação do nível.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" style="color: #fff;" class="btn btn-danger"
                        data-mdb-dismiss="modal">Cancelar</button>
                    <a href="/user/progMissao/{{id}}">
                        <button type="button" class="btn btn-success">Aceitar Missão</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>