
{{>_navbar}}
    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{else}}

    {{/if}}
    {{>_msg}}

<section class="cardMissoes">
    <img id="imgMissao" style="padding-right: 0;" src="/images/imgmissao.png" alt="">
    <script>
      AOS.init();
    </script>
    <!--Card de cada missão-->
    {{missoes}}
{{#each missoes}}
<li><h2>{{missao.titulo}}</h2></li>
<li><h2>{{missoes.descricao}}</h2></li>
    
{{/each}}
<a href="missao.html">
    <div data-aos="zoom-in" class="col-xl-12 col-md-12">
      <div id="cardaMissao" style ="border: 0;"class="card">
        <div class="card-content">
          <div id="cardaMissao2" class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <img src="/images/hardskills.png" alt="">
              </div>
              <div class="media-body">
                <h4 id="tituloMissao">Desenvolvimento Web Completo 2022 - 20 cursos + 20 projetos</h4>
                <span>Domine Web - 20 Cursos - HTML5, CSS3, SASS, Bootstrap, JS, ES6, PHP 7, OO, MySQL, JQuery, MVC, APIs, IONIC e muito mais</span>
              </div>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>

<a href="missao.html">
  <div data-aos="zoom-in" class="col-xl-12 col-md-12">
    <div id="cardaMissao" style ="border: 0;"class="card">
      <div class="card-content">
        <div id="cardaMissao2" class="card-body cleartfix">
          <div class="media align-items-stretch">
            <div class="align-self-center">
              <img src="/images/soft-skills.png" alt="">
            </div>
            <div class="media-body">
              <h4 id="tituloMissao">O Guia Completo da Comunicação</h4>
              <span>Desenvolva habilidades profundas de comunicação. Verbal, não verbal, storytelling, técnicas e emoções na comunicação.</span>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</a>

<a href="missao.html">
<div data-aos="zoom-in" class="col-xl-12 col-md-12">
  <div id="cardaMissao" style ="border: 0;"class="card">
    <div class="card-content">
      <div id="cardaMissao2" class="card-body cleartfix">
        <div class="media align-items-stretch">
          <div class="align-self-center">
            <img src="/images/soft-skills.png" alt="">
          </div>
          <div class="media-body">
            <h4 id="tituloMissao">Liderança e Gestão de Pessoas | Formação COMPLETA + 5 Extras</h4>
            <span>Definitivamente o mais completo: Liderança, Comunicação, Escuta Ativa, Negociação, Gestão de Projetos e Produtividade</span>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</a>

<a href="missao.html">
<div data-aos="zoom-in" class="col-xl-12 col-md-12">
  <div id="cardaMissao" style ="border: 0;"class="card">
    <div class="card-content">
      <div id="cardaMissao2" class="card-body cleartfix">
        <div class="media align-items-stretch">
          <div class="align-self-center">
            <img src="/images/hardskills.png" alt="">
          </div>
          <div class="media-body">
            <h4 id="tituloMissao">Angular - The Complete Guide (2022 Edition)</h4>
            <span>Domine o Angular 13 (e crie aplicativos da Web incríveis e reativos com o sucessor do Angular.js</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</a>

  </section>



