
{{>_navbar}}
    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{else}}

    {{/if}}
    {{>_msg}}

<section class="cardMissoes">
    <img id="imgMissao" style="padding-right: 0;" src="/images/imgmissao.png" alt="">
    <script>
      AOS.init();
    </script>
    <!--Card de cada missão-->
  
  
      
  {{#each miss}}
    <a href="/user/descMissao/{{id}}">
    <div data-aos="zoom-in" class="col-xl-12 col-md-12">
      <div id="cardaMissao" style ="border: 0;"class="card">
        <div class="card-content">
          <div id="cardaMissao2" class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <img src="/images/{{skill}}.png" alt="">
              </div>
              <div class="media-body">
                <h4 id="tituloMissao">{{titulo}}</h4>
                <span>{{descricao}}</span>
              </div>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
  {{/each}}




  </section>

  <script src="/js/missApi.js"></script>



