{{>_navbar}}
{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{else}}

{{/if}}
{{>_msg}}

<section class="cardMissoes">

    <br>
    <img id="imgPerfil2" class="rounded-circle" src="{{user.imguser}}" alt="">

    <h4 class="tituloNomePerfil">{{user.nome}}</h4>
    <br>



    <style>

    </style>
    <i id="estrelaperfil" class="fas fa-star fa-2x"></i>
    <i id="estrelaperfil" class="fas fa-star fa-2x"></i>
    <i id="estrelaperfil" class="fas fa-star fa-2x"></i>
    <i id="" class="fas fa-star fa-2x"></i>
    <i id="" class="fas fa-star fa-2x"></i>

    <br>
    <br>

    <div style="display: inline-flex;margin-bottom: 2%;">

        <div id="imagemMedal"></div>

        <h4 id="amareloEy" style="padding-top: 15%;font-weight: bold;">{{user.pontos}} Pontos</h4>

        <script>
            console.log({{ user.pontos }})
            const div = document.getElementById('imagemMedal')
            div.innerHTML = "";
            var img = document.createElement('img');
            if ({{ user.pontos }} < 3500) {
                img.src = "/images/medalamarelo.png";
            } else if ({{ user.pontos }} >= 3500 && {{ user.pontos }} < 7200) {
                img.src = "/images/medallaranja.png";
            } else if ({{ user.pontos }} >= 7200 && {{ user.pontos }} < 9800) {
                img.src = "/images/medalroxa.png";
            } else if ({{ user.pontos }} >= 9800 && {{ user.pontos }} < 15600) {
                img.src = "/images/medalazul.png";
            } else {
                img.src = "/images/medalazulescuro.png";
            }
            div.appendChild(img);
        </script>



    </div>
    <br>
    <div style="display: inline-flex;margin-bottom: 2%; width: 90%; padding-left: 15%;">
        <div id="imagemMedal2"></div>
        <div class="progress" style="height: 20px; width: 70%; margin-top: auto;">
            <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="porcentagem();"
                aria-valuemin="0" aria-valuemax="100"><b id="porcentagemmissao">55%</b>
            </div>
        </div>
    </div>

    <script>
        console.log({{ user.pontos }})
        const div2 = document.getElementById('imagemMedal2')
        div2.innerHTML = "";
        var img = document.createElement('img');
        if ({{ user.pontos }} < 3500) {
            img.src = "/images/medalamarelo.png";
        } else if ({{ user.pontos }} >= 3500 && {{ user.pontos }} < 7200) {
            img.src = "/images/medallaranja.png";
        } else if ({{ user.pontos }} >= 7200 && {{ user.pontos }} < 9800) {
            img.src = "/images/medalroxa.png";
        } else if ({{ user.pontos }} >= 9800 && {{ user.pontos }} < 15600) {
            img.src = "/images/medalazul.png";
        } else {
            img.src = "/images/medalazulescuro.png";
        }
        div2.appendChild(img);
    </script>

    <br>
    <br>

    <img src="/images/hardskills.png" alt="">
    <h4 class="tituloNome">Hard Skills</h4>

    <div style="width:50%; height:50%; margin: auto; background-color: #fff; border-radius: 10px;">
        <canvas id="myChart"></canvas>
    </div>

    <br>
    <br>

    <img src="/images/soft-skills.png" alt="">
    <h4 class="tituloNome">Soft Skills</h4>



    <div style="width:50%; height:50%; margin: auto; border-radius: 10px; background: #fff;">
        <canvas id="myChart2"></canvas>
    </div>

    <script>
        const data = {
            labels: [
                'React',
                'HTML',
                'CSS',
                'Javacript',
                'Bootstrap',
                'Angular',
                'Jquery'
            ],
            datasets: [{
                label: 'Evolução no ultimo mês',
                data: [{{skill.react}}, {{skill.html}}, {{skill.css}}, {{skill.javascript}}, {{skill.bootstrap}}, {{skill.angular}}, {{skill.jquery}}],
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgb(255, 99, 132)',
                pointBackgroundColor: 'rgb(255, 99, 132)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(255, 99, 132)'
            }]
        };
        const config = {
            type: 'radar',
            data: data,
            options: {
                elements: {
                    line: {
                        borderWidth: 5
                    }
                }
            },
        };
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

        const data2 = {
            labels: [
                'Liderança',
                'Comunicação',
                'Ingles',
                'Trabalho em equipe',
                'Flexibilidade',
                'Espanhol',
                'Criatividade'
            ],
            datasets: [{
                label: 'Evolução no ultimo mês',
                data: [{{skill.lideranca}}, {{skill.comunicacao}}, {{skill.ingles}}, {{skill.trabalho_em_equipe}}, {{skill.flexibilidade}}, {{skill.espanhol}}, {{skill.criatividade}}],
                fill: true,
                backgroundColor: 'rgba(173, 216, 230, 0.2)',
                borderColor: 'rgb(173, 216, 230)',
                pointBackgroundColor: 'rgb(173, 216, 230',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: '173, 216, 230'
            }]
        };
        const config2 = {
            type: 'radar',
            data: data2,
            options: {
                elements: {
                    line: {
                        borderWidth: 5
                    }
                }
            },
        };
        const myChart2 = new Chart(
            document.getElementById('myChart2'),
            config2
        );
    </script>

    <script>
            if ({{ user.pontos }} < 3500) {
                document.getElementById("amareloEy").style.color="#ffe600";
                document.getElementById("amareloEy2").style.backgroundColor="#ffe600";
                document.getElementById("cardaMissao2").setAttribute("id", "cardaMissao2");
            } else if ({{ user.pontos }} >= 3500 && {{ user.pontos }} < 7200) {
                document.getElementById("amareloEy").style.color="#eb9811";
                document.getElementById("amareloEy2").style.backgroundColor="#eb9811";
                document.getElementById("cardaMissao2").setAttribute("id", "cardaMissao3");
            } else if ({{ user.pontos }} >= 7200 && {{ user.pontos }} < 9800) {
                document.getElementById("amareloEy").style.color="#70499c";
                document.getElementById("amareloEy2").style.backgroundColor="#70499c";
                document.getElementById("cardaMissao2").setAttribute("id", "cardaMissao4");
            } else if ({{ user.pontos }} >= 9800 && {{ user.pontos }} < 15600) {
                document.getElementById("amareloEy").style.color="#79c59c";
                document.getElementById("amareloEy2").style.backgroundColor="#79c59c";
                document.getElementById("cardaMissao2").setAttribute("id", "cardaMissao5");
            } else {
                document.getElementById("amareloEy").style.color="#0c737d";
                document.getElementById("amareloEy2").style.backgroundColor="#0c737d";
                document.getElementById("cardaMissao2").setAttribute("id", "cardaMissao6");
            }
  </script>

</section>