{{>_navbar}}
{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{else}}

{{/if}}
{{>_msg}}

<section class="cardMissoes">
    <div class="col">
        <a href="/user/missoes">
            <img style="float: left; padding:20px;" src="/images/voltar.png" alt="">
        </a>
    </div>

    <img id="imgMissao" src="/images/imgprogresso.png" alt="">
    <script>
        AOS.init();
    </script>

    <div data-aos="zoom-in" class="col-xl-12 col-md-12">
        <div id="cardaMissao" style="border: 0;" class="card">
            <div class="card-content">
                <div id="cardaMissao2" class="card-body cleartfix">
                    <div class="media align-items-stretch">
                        <div class="align-self-center">
                            <img src="/images/{{miss.skill}}.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4 id="tituloMissao">{{miss.titulo}}</h4>
                        </div>
                    </div>
                    <div class="media-body">
                        <p id="descMissaotxt">{{miss.descricao}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </a>

    <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"><b id="porcentagemmissao">25%</b></div>
    </div>

    {{#if user.admin}}
        
    {{else}}
        <button id="btnFinalizar" type="button" class="btn btn-outline-warning btn-rounded"
            data-mdb-ripple-color="dark">Finalizar Missão</button>
        <button id="btnAbandonar" type="button" class="btn btn-warning btn-rounded" data-mdb-ripple-color="dark">Abandonar
            missão</button>
    {{/if}}






</section>