{{>_navbar}}
{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{else}}

{{/if}}
{{>_msg}}

<section class="cardMissoes">
    <div class="col">
        <a href="/user/missoes">
            <img style="float: left; padding:20px;" src="/images/voltar.png" alt="">
        </a>
    </div>

    <img id="imgMissao" src="/images/imgprogresso.png" alt="">
    <script>
        AOS.init();
    </script>

    <div data-aos="zoom-in" class="col-xl-12 col-md-12">
        <div id="cardaMissao" style="border: 0;" class="card">
            <div class="card-content">
                <div id="cardaMissao2" class="card-body cleartfix">
                    <div class="media align-items-stretch">
                        <div class="align-self-center">
                            <img src="/images/{{miss.skill}}.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4 id="tituloMissao">{{miss.titulo}}</h4>
                        </div>
                    </div>
                    <div class="media-body">
                        <p id="descMissaotxt">{{miss.descricao}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </a>

    {{#if user.admin}}

    {{else}}
    <button id="btnFinalizar" data-mdb-toggle="modal" data-mdb-target="#exampleModal3" type="button"
        class="btn btn-outline-warning btn-rounded" data-mdb-ripple-color="dark">Finalizar Missão</button>
    <button id="btnAbandonar" type="button" class="btn btn-warning btn-rounded" data-mdb-ripple-color="dark">Abandonar
        missão</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="imgModal" src="/images/imgmodal3.webp" alt="">
                    <h4>Subir certificado</h4>
                    <p>Insira o código e a URL de acesso do certificado do curso, ao ser validado a missão estará
                        concluída</p>

                    <br>

                    <div class="form-outline mb-4">
                        <input type="text" id="typeEmailX-2" class="form-control form-control-lg" />
                        <label class="form-label" for="typeEmailX-2">Código do certificado</label>
                    </div>


                    <div class="form-outline mb-4">
                        <input type="text" id="typeEmailX-2" class="form-control form-control-lg" />
                        <label class="form-label" for="typeEmailX-2">URL do certificado</label>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" style="color: #fff;" class="btn btn-danger"
                        data-mdb-dismiss="modal">Cancelar</button>
                    <a href="/user/progMissaoAtual/{{miss.id}}">
                        <button type="button" class="btn btn-success">Enviar </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}








</section>